@import "../../scss/_colors.scss";
.profile {
  width: 100%;
  margin: 50px;
  margin-left: 8%;
  .ui.medium.circular.image,
  img {
    margin: 0 auto;
    width: 250px;
    height: 250px;
    margin-bottom: 50px;
    border-radius: 100%;
  }
}
