$primary-color: #d9326f;
$secondar-color: #04bfad;

$font-dark: #2a3b47;
$font-grey-light: #697477;
$font-light: #a0a7ac;

$background-color-light: #d8ebf2;

$toast-primary: #1db954;

$hover-color: #f25c84;
$hover-secondary: #26e2cf;
